<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from <a class='resource' href="http://mapbox.com" target="_blank">mapbox.com</a> and <a
                class='resource' href="http://weatherstack.com" target="_blank">weatherstack.com</a></p>
        <img src="/img/alex2.png" alt="Photo of Alex" class="portrait" />
    </div>
    {{>footer}}
</body>

</html>